<mat-table #table [dataSource]="repositories" matSort>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Repository Name </mat-header-cell>
    <mat-cell *matCellDef="let repository">{{repository.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="authorfullname">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Author's Full Name </mat-header-cell>
    <mat-cell *matCellDef="let repository">{{repository.owner.login}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="view_commit">
    <mat-header-cell *matHeaderCellDef mat-sort-header> View Commits </mat-header-cell>
    <mat-cell *matCellDef="let repository"><a [routerLink]="['/gitcommits', repository.full_name]">View Commits</a></mat-cell>
  </ng-container>
    <ng-container matColumnDef="view_open_pull_requests">
    <mat-header-cell *matHeaderCellDef mat-sort-header> View Open PRs </mat-header-cell>
    <mat-cell *matCellDef="let repository"><a [routerLink]="['/gitprs', repository.full_name, 'open']">View Open PRs</a></mat-cell>
  </ng-container>
    <ng-container matColumnDef="view_closed_pull_requests">
    <mat-header-cell *matHeaderCellDef mat-sort-header> View Closed PRs </mat-header-cell>
    <mat-cell *matCellDef="let repository"><a [routerLink]="['/gitprs', repository.full_name, 'close']">View Closed PRs</a></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
